.container {
    width: 50%;
    margin: auto;
}
.file {
    border: 1px solid black;
    color: green;
    width: 150px;
    margin-left: 420px;
    text-align: center;
}
.file_2 {
    border: 1px solid black;
    color: green;
    width: 150px;
    margin-left: 60px;
    text-align: center;
}